$bg: rgb(255, 255, 255);
$bg--alt: white;
$color-a: #0e0e0e;
$color-b: #7a7a7a;
$font-size--normal: 14px; // 1rem

@keyframes blk {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.01% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  33.01% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  90.01% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  93.01% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  96.01% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  99.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
}
