.bird {
  background-image: linear-gradient(to bottom left, #dcf6fa, #43c7ff, #1182e4);
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  place-content: center;
}

.body {
  display: flex;
  padding: 4rem;
  place-content: center;
  @media screen and (max-width: 480px) {
    padding: 0.5rem;
  }
}

.body--home {
  flex-direction: row;
  .message::before {
    content: "";
    border-bottom: 0.5rem solid transparent;
    border-right: 1rem solid $bg;
    border-top: 0.5rem solid transparent;
    left: -1rem;
    position: absolute;
    top: calc(50% - 0.5rem);
  }
  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;
    .message::before {
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 1rem solid $bg;
      left: calc(50% - 0.5rem);
      top: 100%;
    }
  }
}

.body--piolitic {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  .message-container {
    margin-bottom: 0;
    .message::before {
      content: "";
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 1rem solid $bg;
      left: calc(50% - 0.5rem);
      position: absolute;
      top: 100%;
    }
  }
  .img-container {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.message-container {
  margin: auto;
  max-width: 100vh;
  animation: 180ms 1 appear;
}

.message {
  background-color: $bg;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.1));
  height: fit-content;
  max-width: 70ch;
  min-width: 40ch;
  padding: 2rem;
  position: relative;
  @media screen and (max-width: 960px) {
    padding: 1.25rem 1.5rem;
  }
  @media screen and (max-width: 480px) {
    padding: 0.85rem 1rem;
  }
}

.img-container {
  display: flex;
  padding: 2rem 0;
  position: relative;
  margin: auto;
  max-width: 720px;
  animation: 180ms 1 appear;
}

.bird-img--base {
  width: 100%;
}

.bird-img--blink {
  position: absolute;
  top: 2rem;
  width: 100%;
  animation: 9s infinite blk linear;
}

.bird-img--piolitic {
  max-width: 100%;
  margin: auto auto 0 auto;
}

p:last-of-type {
  margin-bottom: 0;
}

.data {
  color: $color-b;
  font-style: italic;
}

.back_btn {
  $margin: 2rem;
  background-color: $bg;
  border-radius: 0.5rem;
  bottom: $margin;
  filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.1));
  padding: $margin * 0.5;
  position: absolute;
  right: $margin;
  z-index: 1;
  span {
    display: flex;
    transform: rotateZ(90deg);
    .svg-24 {
      height: 24px;
      width: 24px;
      fill: $color-b;
    }
  }
  @media screen and (max-width: 960px) {
    $margin: 1.5rem;
    bottom: $margin;
    padding: $margin * 0.5;
    right: $margin;
  }
  @media screen and (max-width: 480px) {
    $margin: 1rem;
    bottom: $margin;
    padding: $margin * 0.5;
    right: $margin;
  }
}
