* {
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
  font-size: $font-size--normal;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg;
  color: $color-a;
}

hr {
  border-color: #6d6d6d;
  border-top: none;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}
