* {
  font-family: Segoe UI, sans-serif;
  font-size: $font-size--normal;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: $bg;
  color: $color-a;
}
p {
  margin-bottom: 1em;
}
