@charset "UTF-8";
@-webkit-keyframes blk {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.01% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  33.01% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  90.01% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  93.01% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  96.01% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  99.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blk {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.01% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  33.01% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  90.01% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  93.01% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  96.01% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  99.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes t_h_appear {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes t_h_appear {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes t_v_appear {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes t_v_appear {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  font-family: Segoe UI, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  color: #0e0e0e;
}

p {
  margin-bottom: 1em;
}

.Pajarito {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-image: linear-gradient(-55deg, #cceeff, #3399cc);
}

.Pajarito_img--home {
  height: 100vh;
  width: 62vw;
  position: relative;
  max-width: 1920px;
}

.Pajarito_img--home::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: 9s infinite blk linear;
          animation: 9s infinite blk linear;
}

.Pajarito_text--home {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 38vw;
  padding: 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  -webkit-animation: 250ms 1 t_h_appear;
          animation: 250ms 1 t_h_appear;
  z-index: 1;
}

.text-holder--home {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}

.text-holder--home p:last-of-type {
  margin-bottom: 0;
}

.Pajarito_img--piolitica {
  height: 100%;
  width: 100vw;
  max-width: 960px;
  margin: auto auto 0;
  position: relative;
}

.Pajarito_text--piolitica {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  -webkit-animation: 250ms 1 t_v_appear;
          animation: 250ms 1 t_v_appear;
  z-index: 1;
}

.text-holder--piolitica {
  margin: auto;
}

.text-holder--piolitica p {
  font-size: 1.5rem;
  font-weight: 300;
}

.text-holder--piolitica p:last-of-type {
  margin-bottom: 0px;
}

.back_btn {
  background-color: white;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 64px;
  bottom: 64px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.data {
  color: #808080;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .Pajarito_img--home {
    margin: auto auto 0 auto;
    height: 50vh;
    width: 100vw;
    max-width: 900px;
  }
  .Pajarito_text--home {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 32px 64px;
    width: 100%;
  }
  .text-holder--home {
    max-width: 600px;
  }
  .back_btn {
    right: 24px;
    bottom: 24px;
  }
}

@media screen and (max-width: 600px) {
  .Pajarito_img--home {
    height: 32vh;
  }
  .Pajarito_text--home {
    padding: 24px;
    font-size: 0.7625‬rem;
  }
}
/*# sourceMappingURL=main.css.map */