@keyframes blk {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.01% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  33.01% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  90.01% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  93.01% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  96.01% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  99.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #0e0e0e;
}

hr {
  border-color: #6d6d6d;
  border-top: none;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

.bird {
  background-image: linear-gradient(to bottom left, #dcf6fa, #43c7ff, #1182e4);
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  place-content: center;
}

.body {
  display: flex;
  padding: 4rem;
  place-content: center;
}
@media screen and (max-width: 480px) {
  .body {
    padding: 0.5rem;
  }
}

.body--home {
  flex-direction: row;
}
.body--home .message::before {
  content: "";
  border-bottom: 0.5rem solid transparent;
  border-right: 1rem solid white;
  border-top: 0.5rem solid transparent;
  left: -1rem;
  position: absolute;
  top: calc(50% - 0.5rem);
}
@media screen and (max-width: 960px) {
  .body--home {
    flex-direction: column-reverse;
  }
  .body--home .message::before {
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid white;
    left: calc(50% - 0.5rem);
    top: 100%;
  }
}

.body--piolitic {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.body--piolitic .message-container {
  margin-bottom: 0;
}
.body--piolitic .message-container .message::before {
  content: "";
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 1rem solid white;
  left: calc(50% - 0.5rem);
  position: absolute;
  top: 100%;
}
.body--piolitic .img-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.message-container {
  margin: auto;
  max-width: 100vh;
  animation: 180ms 1 appear;
}

.message {
  background-color: white;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.1));
  height: fit-content;
  max-width: 70ch;
  min-width: 40ch;
  padding: 2rem;
  position: relative;
}
@media screen and (max-width: 960px) {
  .message {
    padding: 1.25rem 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .message {
    padding: 0.85rem 1rem;
  }
}

.img-container {
  display: flex;
  padding: 2rem 0;
  position: relative;
  margin: auto;
  max-width: 720px;
  animation: 180ms 1 appear;
}

.bird-img--base {
  width: 100%;
}

.bird-img--blink {
  position: absolute;
  top: 2rem;
  width: 100%;
  animation: 9s infinite blk linear;
}

.bird-img--piolitic {
  max-width: 100%;
  margin: auto auto 0 auto;
}

p:last-of-type {
  margin-bottom: 0;
}

.data {
  color: #7a7a7a;
  font-style: italic;
}

.back_btn {
  background-color: white;
  border-radius: 0.5rem;
  bottom: 2rem;
  filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.1));
  padding: 1rem;
  position: absolute;
  right: 2rem;
  z-index: 1;
}
.back_btn span {
  display: flex;
  transform: rotateZ(90deg);
}
.back_btn span .svg-24 {
  height: 24px;
  width: 24px;
  fill: #7a7a7a;
}
@media screen and (max-width: 960px) {
  .back_btn {
    bottom: 1.5rem;
    padding: 0.75rem;
    right: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .back_btn {
    bottom: 1rem;
    padding: 0.5rem;
    right: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
